USE [master]
GO
/****** Object:  Database [Rezervace]    Script Date: 28.06.2024 10:13:14 ******/
CREATE DATABASE [Rezervace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rezervace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rezervace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rezervace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rezervace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rezervace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rezervace]
GO
/****** Object:  Table [dbo].[Table_Lidi]    Script Date: 28.06.2024 10:13:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Lidi](
	[ID_Lidi] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Stul] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Lidi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Stul]    Script Date: 28.06.2024 10:13:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Stul](
	[ID_Stul] [int] NOT NULL,
	[PocetMist] [int] NULL,
	[Podlazi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Stul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Users]    Script Date: 28.06.2024 10:13:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Users](
	[ID] [int] NOT NULL,
	[PrihlJmeno] [varchar](100) NULL,
	[Heslo] [varchar](100) NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_Table_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Table_Lidi]  WITH CHECK ADD FOREIGN KEY([Stul])
REFERENCES [dbo].[Table_Stul] ([ID_Stul])
GO
USE [master]
GO
